body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:separate;
  width:auto
}

td, th{
  border:1px steelblue;
  text-align: left;
  padding: 8px;
}


#requeststable{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
}

#requeststable td, #requeststable th{
  border: 1px solid #ddd;
  padding: 8px;
}

#requeststable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:rgb(219,114,53);
  color: white;
}

#attendancetable{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
  table-layout: fixed;
  display: inline;
}

#attendancetable table body{
  width:100%;
  overflow: auto;
}

#attendancetable td{
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  width:50px;
}

#attendancetable th{
 border-left: 1px solid #ddd;
 padding: 8px;
  text-align: left;
  background-color:rgb(219,114,53);
  color: white;
  width:100%;
  display:inline;
}

label{
  text-align: center;
  width: 400px;
  line-height: 26px;
  margin-bottom: 100px;
}

span{
  margin-left: 650px;
  text-align: center;
  width: 400px;
  line-height: 26px;
}

input{
  height: 40px;
  padding: 12px 2px;
  margin-bottom: 100px;
}

#forLogin{
  height: 20px;
  padding: 12px 2px;
  margin-bottom: 20px;
  width:500px;
}

#loginText{
  font-family: Arial, Helvetica, sans-serif; 
  color:black;
  font-weight: bold;
}

#add{
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  transition-duration: 0.4s;
  background-color: lightgray;
  color:black;
  border:solid white;
  margin-left: 300px;
  margin-bottom: 50px;
}

#add:hover{
  background-color: rgb(219,114,53);
  color: black;
}

#submit{
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  transition-duration: 0.4s;
  background-color: lightgray;
  color:black;
  border:solid white;
  position: relative;
  right:-75%
}

#submit:hover{
  background-color: rgb(219,114,53);
  color: black;
}

#loginSubmit{
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  transition-duration: 0.4s;
  background-color: lightgray;
  color:black;
  border:solid white;
  position: relative;
}

#loginSubmit:hover{
  background-color: rgb(219,114,53);
  color: black;
}

#drop{
  position: relative;
  width:200px;
  height: 50px;
  margin-left: 300px;
  color:black;
  background-color:lightgray;
  border:solid white;
  outline-color: white;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 50px;
}

#drop:hover{
  background-color: rgb(219,114,53);
  color:black
}

.container{
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

.col-25{
  float:left;
  width: 25%;
  margin-top: 6px;
}

.col-75{
  float:left;
  width: 75%;
  margin-top: 6px;
}